:root {
  --primaryColor: #fff8f3;
  --srcColor: #fd6e0a;
  --fontSizePrimary: 35px;
  --dark1Color: #1e1e1e;
  --dark2Color: #474747;
  --dark3Color: #757575;
  --dark4Color: #a3a3a3;
  --dark5Color: #d1d1d1;
  --dark6Color: #e8e8e8;
  --dark7Color: #f3f3f3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
}

/* navigation Bar styles */
header {
  background-color: var(--primaryColor);
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png),
    var(--primaryColor);
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.logo h2 span {
  color: var(--srcColor);
}

nav {
  /* max-width: 1440px;
  margin: 0 auto;
  width: 71%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav ul li {
  margin: 0;
  list-style: none;
}
nav ul li a {
  color: var(--dark2Color);
  font-size: 20px;
}
nav ul li button {
  background-color: var(--srcColor);
  color: white;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
}

/* Hero Section Styles */
#banner {
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#banner .banner_content {
  max-width: 585px;
}
#banner .banner_content h2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--dark2Color);
  margin-bottom: 5px;
}
#banner .banner_content h1 {
  font-size: 85px;
  font-weight: bold;
  color: var(--dark1Color);
  margin-bottom: 20px;
}
#banner .banner_content p {
  font-size: 18px;
  color: var(--dark2Color);
  line-height: 30px;
  margin-bottom: 30px;
}
.btn {
  background-color: var(--srcColor);
  color: white;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}
#banner .banner_img {
  max-width: 585px;
  vertical-align: middle;
}
.banner_img img {
}
/* .containerse {
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
} */
/*  */

/*  */

/* About Sections Style */
#About_area {
  padding-top: 130px;
}
#About_area .about_container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--primaryColor);
  border-radius: 10px;
}
.about_container .about_hading {
  padding: 131px 156px;
}
.about_hading,
.skills_hading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.about_hading h2 {
  font-size: var(--fontSizePrimary);
  font-weight: bold;
  color: var(--dark1Color);
  margin-bottom: 30px;
}
.about_hading p {
  font-size: 18px;
  color: var(--dark3Color);
  margin-bottom: 30px;
  line-height: 30px;
}
.about_hading .aboutInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* justify-content: space-between; */
}
.aboutInfo .child_info p {
  font-size: 20px;
  /* line-height: ; */
  color: var(--dark3Color);
}
.child_info h4 {
  font-size: 12px;
  color: var(--dark2Color);
}

/* Skill Area Style */

#Skills {
  padding-top: 130px;
}
#Skills .skill_container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill_container .skills_hading h2 {
  font-size: var(--fontSizePrimary);
  font-weight: bold;
  margin-bottom: 30px;
}
.skills_hading p {
  margin-bottom: 30px;
  color: var(--dark3Color);
  font-size: 18px;
}
.skill_container .skills_cards {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.skills_cards .child_cards {
  box-shadow: 0 0 5px var(--dark3Color);
  border-radius: 5px;
  padding: 30px;
  max-width: 267px;
  transition: 0.5s all ease-in-out;
}
.child_cards:hover {
  transform: translateY(-10px);
}
.child_cards img {
  margin-bottom: 20px;
  width: 44px;
  height: 44px;
}
.child_cards h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark1Color);
}
.child_cards p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark3Color);
}

/* Resume Card Style */
#resume_area {
  margin-top: 130px;
  margin-bottom: 113px;
}

#resume_area .hading_resume {
  margin-bottom: 113px;
}

.hading_resume h2 {
  text-align: center;
  font-size: var(--fontSizePrimary);
  font-weight: bold;
  color: var(--dark1Color);
}

#resume_area .resume_Card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 71px;
  /* justify-content: ; */
}
.resume_Card .card_resume {
  width: 511px;
  border-bottom: 1px solid var(--dark5Color);
}
.card_resume h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark2Color);
  margin-bottom: 30px;
}
.card_resume h4 {
  font-size: 25px;
  font-weight: bold;
  color: var(--dark2Color);
  margin-bottom: 30px;
}
.card_resume h6 {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark3Color);
  margin-bottom: 15px;
}
.card_resume p {
  font-size: 16px;
  font-weight: bold;
  color: var(--dark3Color);
  line-height: 28px;
  margin-bottom: 30px;
}

.buttonCtas {
  background-color: var(--srcColor);
  padding: 18px 17px;
  border: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.buttonCtas .downloadBtn a {
  color: white;
}

/* Footer Section style */
.footer {
  background-color: var(--primaryColor);
}
#footer {
  padding: 20px;
  padding-top: 100px;
  display: flex;
  gap: 30px;
}
.social {
  width: 562px;
}
#footer .social h2 {
  color: var(--dark1Color);
  font-size: var(--fontSizePrimary);
  font-weight: bold;
  margin-bottom: 30px;
}
.social p {
  font-size: 18px;
  color: var(--dark2Color);
  line-height: 26px;
  margin-bottom: 30px;
}
.forms {
  width: 562px;
}
.forms h2 {
  color: var(--dark1Color);
  font-size: var(--fontSizePrimary);
  font-weight: bold;
  margin-bottom: 30px;
}
.inputs {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  /* width: 100%; */
  padding: 18px 30px;
  border: none;
  background: white;
  outline: none;
}
textarea {
  border: none;
  outline: none;
  padding-left: 10px;
}
.btnCta .btn {
  align-self: flex-start;
  width: auto;
  padding: 14px 28px;
  border-radius: 5px;
  background-color: var(--srcColor);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Mobile Responsive */

/* @media only screen and (min-with: 320px) and (max-width: 640px) {
  .skills_cards {
    flex-direction: column;
    flex-wrap: wrap;
  }
} */
