:root {
  --primaryColor: #fff8f3;
  --srcColor: #fd6e0a;
  --fontSizePrimary: 35px;
  --dark1Color: #1e1e1e;
  --dark2Color: #474747;
  --dark3Color: #757575;
  --dark4Color: #a3a3a3;
  --dark5Color: #d1d1d1;
  --dark6Color: #e8e8e8;
  --dark7Color: #f3f3f3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

/* navigation Bar styles */
header {
  background-color: var(--primaryColor);
  background: url(../images/developer.png), url(../images/header_bg.png),
    var(--primaryColor);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.header_area {
  background-color: var(--primaryColor);
  padding-top: 50px;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.logo h2 span {
  color: var(--srcColor);
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 71%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav ul li {
  margin: 0;
  list-style: none;
}
nav ul li a {
  color: var(--dark2Color);
  font-size: 20px;
}
nav ul li button {
  background-color: var(--srcColor);
  color: white;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
}

/* Hero Section Styles */
#hero_area {
  margin: 47px 38px 0 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero_area .hero_banner_details {
  /* margin: 297px 0 184px 230px; */
  max-width: 585px;
}
#hero_area .hero_banner_details h5 {
  font-size: 45px;
  color: var(--dark2Color);
  margin-bottom: 5px;
  font-weight: 600;
}
#hero_area .hero_banner_details h2 {
  font-size: 85px;
  color: var(--dark1Color);
  font-weight: bold;
  margin-bottom: 20px;
}
.hero_banner_details .buttonCta {
  display: flex;
  gap: 30px;
  align-items: center;
}
.buttonCta .downloadBtn {
  background-color: var(--srcColor);
  padding: 19px 17px;
  border-radius: 5px;
}
.buttonCta .downloadBtn a {
  background-color: var(--srcColor);
  padding: 19px 17px;
  font-size: 20px;
  font-size: bold;
  color: white;
  /* padding-bottom: 184px; */
}
.buttonCta .contactBtn {
  padding: 19px 17px;
  border-radius: 5px;
  border: 1px solid var(--srcColor);
}
.buttonCta .contactBtn a {
  padding: 19px 17px;
  border-radius: 5px;
  font-size: 20px;
  color: var(--srcColor);
  font-weight: bold;
}
#hero_area .hero_banner_details p {
  font-size: 18px;
  color: var(--dark3Color);
  margin-bottom: 30px;
  line-height: 30px;
}
#hero_area .hero_banner_images {
  max-width: 585px;
  vertical-align: middle;
}
#hero_area .hero_banner_images {
  max-width: 585px;
  vertical-align: middle;
}

/* @media only screen and (min-with: 320px) and (max-width: 640px) {

} */
