:root {
  --primaryColor: #fff8f3;
  --srcColor: #fd6e0a;
  --fontSizePrimary: 35px;
  --dark1Color: #1e1e1e;
  --dark2Color: #474747;
  --dark3Color: #757575;
  --dark4Color: #a3a3a3;
  --dark5Color: #d1d1d1;
  --dark6Color: #e8e8e8;
  --dark7Color: #f3f3f3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.header_area {
  background-color: var(--primaryColor);
  padding-top: 50px;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.logo h2 span {
  color: var(--srcColor);
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 71%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
nav ul li {
  margin: 0;
  list-style: none;
}
nav ul li a {
  color: var(--dark2Color);
  font-size: 20px;
}
nav ul li button {
  background-color: var(--srcColor);
  color: white;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-weight: bold;
}
